// Define variables for your color scheme

// For example:
$red: #FF6666;
$blue: #119DA4;
$yellow: #F1E8B8;
$orange: #E67E22;
$green: #2EC4B6;
$gray: #C0BEBE;
$light-gray: #DCDCDD;
$black: #353636;
$white: white;

$input-color: $black;
$pink: #FD395D;
