// Import Google fonts
// @import url('https://fonts.googleapis.com/css2?family=Mada:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@300;600;700&display=swap');

// Define fonts for body and headers
$body-font: "Mada", "Mada", "sans-serif";
$headers-font: "Mada", "Mada", "sans-serif";

$input-font-weight: $body-font;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
