// Import page-specific CSS files here.
@import "home";

.booking-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.booking-bar .booking-content {
  flex-grow: .7;
  padding: 0 24px;
}
.avatar-large {
  width: 120px;
  object-fit: cover;
}

.title {
  color: $red
}

.update-link{
  text-decoration: none;
  color: $gray;
  text-align: right;
  opacity: 1;
  transition: ease .3s;
}

.update-link:hover {
  opacity: 1;
}

.booking-bar p {
  margin: 0;
  line-height: 1.4;
}

.booking-bar small {
  color: #999999;
  font-weight: bold;
}
.booking-bar .booking-bar-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.booking-bar:hover .booking-bar-actions {
  opacity: 1;
}

.booking-bar .booking-bar-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.booking-bar .booking-bar-actions a:hover {
  color: #555555;
}

.booking-status {
  flex-grow: .3;
}

.navbar-brand {
  width: 350px;
}
.navbar-nav {
  width: 350px;
}

ul{
  margin:0;
  padding:0;
  display:flex;
}

ul li{
  list-style:none;
  margin:0 20px;
  transition:0.5s;
}

ul li a{
  display: block;
  position:relative;
  text-decoration:none;
  padding:5px;
  font-size:18px;
  font-family: sans-serif;
  text-transform:uppercase;
  transition:0.5s;
}

ul:hover li a{
  transform:scale(1);
  opacity:0.6;
  filter:blur(0);
}

ul li a:hover{
  transform:scale(1);
  opacity:1;
  filter:blur(0);
  text-decoration:none;
}

ul li a:before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#ff497c;
  transition:0.5s;
  transform-origin:right;
  transform:scaleX(0);
  z-index:-1;
}

ul li a:hover:before{
  transition:transform 0.5s;
  transform-origin:left;
  transform:scaleX(1);
}

.readmore {
  text-decoration: none;
}
