




















<%# <% @bookings.each do |booking| %>
<#%= booking.date %>
<#%= booking.status %>
<#%= booking.user_id %>
<%# <button type="button" id="approve-booking" action="/bookings#update" method="patch" class="btn btn-primary">Confirm</button>
<button type="button" class="btn btn-secondary">Deny</button> %>
<%# <%= link_to 'CONFIRM', booking_path(booking.id), class: 'btn btn-primary' %>
<%# <%= button_to 'Cancel Booking', cancel_booking_path(booking), method: :patch, class: 'btn btn-danger' %>
<%# <%= button_to 'Approve Booking', approve_booking_path(booking), method: :patch, class: 'btn btn-primary' %>
<#% end %>
