.page-body {
 margin-left: 15%;
 margin-right: 15%;
 padding-right: calc(var(--bs-gutter-x) * .5);
 padding-left: calc(var(--bs-gutter-x) * .5);
 margin-bottom: 100px;
}

.container {
  padding: 0cm;
}
.user-actions {
  justify-content: end;
  align-content: center;
  display: flex;
  gap: 1rem;
}
