.container {
  padding: 0cm;
}

.user-actions {
  justify-content: end;
  align-content: center;
  display: flex;
  gap: 1rem;
}

#myNavbar {
  position: absolute;
  z-index: 2;
  top: 16px;
  left: -24px;
}

.load-more-button {
  // position: sticky;
  bottom: 0;
  padding-left: 32px;
  padding-bottom: 16px;
  text-align: center;
  z-index: 1000;
}
