@import "config/colors";

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 0.5px solid $gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
