@import "config/colors";

.navbar-lewagon {
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-div {
  width: 350px;
}

#search {
  padding: 0.15rem 0.476rem;
  vertical-align: top;
}

.nav-item {
  margin: 0px
}
